.jumbotron {
    text-align: center;

}

.jumbotron-fluid {

    background-image: url("../cheers.jpg");
    background-size: cover;
    margin: 0px;
    padding: 64px;
    padding-left: 0px;
    padding-right: 0px;
}

.event-name {
    padding: 2px;

}

.clearfix {
    overflow: auto;
}
.container1 {
    float: left;
    display: inline-flex;
    font-family: 'georgia';
    color: white;
    margin: 0px;
    clear: none;
}

.display-4 {
    margin: 0px;
}

.event-card {
    width: 25%;
    height: 575px;
    border: 2.5px solid rgb(2, 59, 2);
    display: inline-block;
    background-color: white;
}
.signup {

}
.form-group {
    color: white;
}

.wrapper-card {
    padding: 15px;
}

.event-search {
    padding: 1px;

    position: absolute;
    right: 50px;
    margin: auto;
    padding: auto;
    overflow: auto;

}

.search-function {

    clear: none;
}

#keyword-input {
    width: 200px;
}


.wrapper3 {
    width: 15%;
    height:25px;
        
}

footer {
    background-color: white;
}

.event-img {
    width: 100%
}

.event-link {
    display: block;
}

.favorite {
    display: block;
}

.bootstrap-iso {
    float: right;
    width: 300px;
    height: 200px;
}

body {
    background-image: url("../field.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 950px;
}